* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
  background-color: #2e3035;
}

header {
  text-align: center;
}

h1 {
  font-weight: 200;
  letter-spacing: 1px;
}

input {
  width: 300px;
  padding: 0 8px;
  margin-right: 4px;
  background-color: #48494b;
}

button {
  padding: 8px 12px;
  background-color: #1bb76e;
}

input,
button {
  height: 31px;
  border: none;
  border-radius: 3px;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2);
}

h1,
input,
button {
  color: #fff;
}

main {
  max-width: 960px;
  margin: 32px auto;
  display: flex;
  flex-wrap: wrap;
}

.gallery-image {
  object-fit: cover;
  width: 310px;
  height: 310px;
  border: 6px solid #48494b;
  border-radius: 3px;
  margin: 5px;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2);
}
